* {
    /* This just makes life easy */
    box-sizing: border-box; 
    line-height: 1;

    /* The superior seige weapon */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin: 0;
    position: relative;
}



/* Because I do this myself where I need it  */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3 {
    font-size: 1.5rem;
    color: #343434;
}

hr {
    width: 100%;
    border: 1px solid #cacaca;
    margin-bottom: 1rem;
}

ul {
    padding-left: .1rem;
}

/* Header Styles */
.navbar {
    width: 100%;
    min-height: 3rem;
    background-color: #343434;
}

.navbar > h1 {
    margin: 0 0 0 1em;
    padding: .2em;
    color: white;
    font-weight: 1;
}




/* Flex Styles and Directions */
.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    display: flex;
    flex-direction: row;
}




/* Container Styles */
.page-container {
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    margin: auto;
}

.section-container {
    justify-content: space-between;

    width: 100%;
    padding: 2em;
}

.small-section {
    justify-content: flex-start;
    align-items: left;
    min-height: 10rem;
    width: 25%;
}

.section-content {
    justify-content: space-between;
    align-items: left;
}

.full-section {
    justify-content: space-between;
    align-items: left;
    width: 100%;
    display: none;
}

.product-content {
    justify-content: space-between;
    align-items: center;
    min-height: 10rem;
}

.product-content p {
    width: auto;
    margin: 0 2rem;
}

.price {
    justify-content: space-evenly;
    align-items: center;
    min-width: 15rem;
}

.price p {
    font-size: 1.5rem;
}

.bad-value {
    color: red;
}

.section-property {
    justify-content: space-between;
    margin: .5em;
    list-style: "- "
}

.feature-list {
    font-size: .8rem !important;
}

.section-buttons {
    margin-top: auto;
}

.btn {
    border: none;
    padding: 1rem;
    width: 49%;
    transition: .1s ease;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(.9)
}

.btn:active {
    cursor: pointer;
    filter: brightness(.8);
}

.product-image {
    max-width: 13rem;
}

/* Conveniently enough, both the mint colored ones are alone */
.btn-mint {
    background-color: rgb(108, 255, 199);
    width: 100% !important; 
}

.btn-gold {
    background-color: rgb(255, 255, 151);
}

.btn-bloo {
    background-color: rgb(117, 177, 255);
}

.btn-purple {
    background-color: rgb(224, 170, 255);
}

.device-list {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid #919191;
    background-color: none;
}


.disabled {
    background-color: #919191 !important;
    opacity: .5;
    cursor: default !important;
    color: #393939 !important;
}

.disabled:hover {
    cursor: default;
    filter: brightness(1);
}

.size-warn {
    display: none;
    background-color: #ffb0b0;
    padding: .5rem;
}

@media only screen and (max-width: 800px) {
    .size-warn {
        display: block;
    }
  }